body {
  background-color: #dcdcdc;
  margin: 0;
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif; }

nav {
  display: block;
  margin: 0;
  padding: 1ex 1em;
  background-color: #333;
  color: #ddd; }

nav a {
  color: #ddd;
  text-decoration: none; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1em;
  color: #555;
  margin-bottom: 0.3ex; }

form button {
  font-size: 150%; }

footer {
  clear: both;
  padding-top: 4ex;
  text-align: center;
  font-size: 70%;
  font-style: italic; }

#page-title {
  font-size: 1.8em;
  line-height: 1.8em;
  height: 50px;
  font-weight: bold; }

#about {
  float: right;
  font-size: 1.5em;
  line-height: 1.8em;
  height: 50px; }

#app {
  margin: 30px auto;
  text-align: center;
  width: 75%; }

#page-text {
  width: 50em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

.piano audio {
  display: none; }

ol.piano {
  position: relative;
  padding: 0;
  margin: 0 0 10px;
  display: inline-block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  ol.piano li {
    box-sizing: border-box;
    width: 40px;
    height: 300px;
    font-size: 14px;
    background: #e6e4e1;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0c1bd), color-stop(10%, #f0f0f0), color-stop(100%, #e6e4e1));
    background: -moz-linear-gradient(top, #c0c1bd, #f0f0f0 10%, #e6e4e1);
    background: -webkit-linear-gradient(top, #c0c1bd, #f0f0f0 10%, #e6e4e1);
    background: linear-gradient(to bottom, #c0c1bd, #f0f0f0 10%, #e6e4e1);
    transition: all 0.1s ease-in-out;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 220px 15px 50px;
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: #ddc; }
    ol.piano li .note {
      position: absolute;
      bottom: 20px;
      left: 10px;
      pointer-events: none;
      text-align: center; }
      ol.piano li .note .note-name {
        width: 20px;
        height: 20px; }
  ol.piano li:hover {
    color: #C0C1BD; }
  ol.piano li:active, ol.piano li.active {
    box-shadow: none;
    top: 5px;
    color: #333; }
  ol.piano li.ebony {
    /* build the key shape */
    z-index: 2;
    position: absolute;
    width: 32px;
    height: 175px;
    top: 0px;
    margin-left: -16px;
    padding: 0 0px 10px;
    /* Typography */
    text-align: center;
    color: #555;
    border-radius: 0 0 2px 2px;
    border-width: 0 6px 12px;
    border-color: #5e5d5c;
    border-bottom-color: #898988;
    background: #676c6a;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f6265), color-stop(10%, #454b49), color-stop(100%, #676c6a));
    background: -moz-linear-gradient(top, #5f6265, #454b49 10%, #676c6a);
    background: -webkit-linear-gradient(top, #5f6265, #454b49 10%, #676c6a);
    background: linear-gradient(to bottom, #5f6265, #454b49 10%, #676c6a); }
    ol.piano li.ebony .note {
      bottom: 15px;
      left: 0; }
  ol.piano li.ebony:hover {
    color: gainsboro; }
  ol.piano li.ebony:active {
    background: #171c1a;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f6265), color-stop(10%, #151b19), color-stop(100%, #171c1a));
    background: -moz-linear-gradient(top, #5f6265, #151b19 10%, #171c1a);
    background: -webkit-linear-gradient(top, #5f6265, #151b19 10%, #171c1a);
    background: linear-gradient(to bottom, #5f6265, #151b19 10%, #171c1a);
    border-color: #000;
    border-bottom-color: #424546;
    border-bottom-width: 8px;
    padding-top: 135px;
    color: #eee; }
  ol.piano li.in-scale {
    background: #faf0e6;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0c1bd), color-stop(10%, #f0f0f0), color-stop(100%, #faf0e6));
    background: -moz-linear-gradient(top, #c0c1bd, #f0f0f0 10%, #faf0e6);
    background: -webkit-linear-gradient(top, #c0c1bd, #f0f0f0 10%, #faf0e6);
    background: linear-gradient(to bottom, #c0c1bd, #f0f0f0 10%, #faf0e6);
    box-shadow: 0 5px 5px #aaa; }
    ol.piano li.in-scale .note-name {
      color: #33f; }
  ol.piano li.ebony.in-scale {
    background: #171c1a;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f6265), color-stop(10%, #151b19), color-stop(100%, #171c1a));
    background: -moz-linear-gradient(top, #5f6265, #151b19 10%, #171c1a);
    background: -webkit-linear-gradient(top, #5f6265, #151b19 10%, #171c1a);
    background: linear-gradient(to bottom, #5f6265, #151b19 10%, #171c1a);
    box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(220, 220, 220, 0.2);
    border-color: #000;
    border-bottom-color: #424546; }
  ol.piano li.in-chord {
    background: #faf0e6;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0c1bd), color-stop(10%, #f0f0f0), color-stop(100%, #faf0e6));
    background: -moz-linear-gradient(top, #c0c1bd, #f0f0f0 10%, #faf0e6);
    background: -webkit-linear-gradient(top, #c0c1bd, #f0f0f0 10%, #faf0e6);
    background: linear-gradient(to bottom, #c0c1bd, #f0f0f0 10%, #faf0e6);
    box-shadow: 0 5px 5px #aaa; }
    ol.piano li.in-chord .note-name {
      color: #eee;
      background-color: #22d;
      border-radius: 50%; }
    ol.piano li.in-chord .note-role {
      color: #333;
      width: 20px;
      height: 20px; }
    ol.piano li.in-chord .note-role-root {
      border-radius: 50%;
      background-color: #333;
      color: #eee; }
    ol.piano li.in-chord .note-role-root + .note-name {
      margin-left: -2px;
      border: 2px solid #333; }
  ol.piano li.ebony.in-chord {
    background: #171c1a;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f6265), color-stop(10%, #151b19), color-stop(100%, #171c1a));
    background: -moz-linear-gradient(top, #5f6265, #151b19 10%, #171c1a);
    background: -webkit-linear-gradient(top, #5f6265, #151b19 10%, #171c1a);
    background: linear-gradient(to bottom, #5f6265, #151b19 10%, #171c1a);
    box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(220, 220, 220, 0.2);
    border-color: #000;
    border-bottom-color: #424546; }
    ol.piano li.ebony.in-chord .note-role {
      width: 20px;
      height: 20px;
      color: #eee; }
    ol.piano li.ebony.in-chord .note-role-root {
      border-radius: 50%;
      background-color: #eee;
      color: black; }
    ol.piano li.ebony.in-chord .note-role-root + .note-name {
      border-color: #eee; }
  ol.piano li.in-chord.out-scale {
    background: #fad0c6;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0b1ad), color-stop(10%, #f0e0e0), color-stop(100%, #fad0c6));
    background: -moz-linear-gradient(top, #c0b1ad, #f0e0e0 10%, #fad0c6);
    background: -webkit-linear-gradient(top, #c0b1ad, #f0e0e0 10%, #fad0c6);
    background: linear-gradient(to bottom, #c0b1ad, #f0e0e0 10%, #fad0c6); }
    ol.piano li.in-chord.out-scale .note-name {
      background-color: red; }
  ol.piano li.ebony.in-chord.out-scale {
    background: #570c0a;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f5255), color-stop(10%, #350b09), color-stop(100%, #570c0a));
    background: -moz-linear-gradient(top, #7f5255, #350b09 10%, #570c0a);
    background: -webkit-linear-gradient(top, #7f5255, #350b09 10%, #570c0a);
    background: linear-gradient(to bottom, #7f5255, #350b09 10%, #570c0a); }

.toolbox .scale-tools {
  width: 48%;
  float: left; }

.toolbox .chord-tools {
  float: left;
  width: 48%; }

ul.chords {
  margin: 0;
  padding: 0; }
  ul.chords li {
    display: inline; }
  ul.chords li:after {
    content: ", "; }
  ul.chords li:last-child:after {
    content: ""; }

.chord-name {
  font-size: 150%; }

.chord-name.wrong {
  color: red; }
