$note-color: #ddc;
$note-hover-color: #C0C1BD;
$note-active-color: #333;
$note-ebony-color: #555;
$note-ebony-active-color: #eee;
$note-ebony-hover-color: gainsboro;
$key-active-background-color1: #c0c1bd;
$key-active-background-color2: #f0f0f0;
$key-active-background-color3: #faf0e6;
$key-ebony-active-background-color1: #5f6265;
$key-ebony-active-background-color2: #151b19;
$key-ebony-active-background-color3: #171c1a;
$key-inactive-background-color1: #c0c1bd;
$key-inactive-background-color2: #f0f0f0;
$key-inactive-background-color3: #e6e4e1;
$key-ebony-inactive-background-color1: #5f6265;
$key-ebony-inactive-background-color2: #454b49;
$key-ebony-inactive-background-color3: #676c6a;
$key-wrong-background-color1: #c0b1ad;
$key-wrong-background-color2: #f0e0e0;
$key-wrong-background-color3: #fad0c6;
$key-ebony-wrong-background-color1: #7f5255;
$key-ebony-wrong-background-color2: #350b09;
$key-ebony-wrong-background-color3: #570c0a;
$scale-highlight-color: #33f;
$scale-out-background-color: red;
$chord-highlight-color: #eee;
$chord-highlight-background-color: #22b;
$chord-highlight-note-role-color: #333;
$chord-highlight-root-color: #eee;
$chord-highlight-root-background-color: #333;
$chord-highlight-ebony-note-role-color: #eee;
$chord-highlight-ebony-root-color: black;
$chord-highlight-ebony-root-background-color: #eee;

@mixin key-background($color1, $color2, $color3) {
    background: $color3;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color1), color-stop(10%, $color2), color-stop(100%, $color3));
    background: -moz-linear-gradient(top, $color1, $color2 10%, $color3);
    background: -webkit-linear-gradient(top, $color1, $color2 10%, $color3);
    background: linear-gradient(to bottom, $color1, $color2 10%, $color3);
}

body {
    background-color: #dcdcdc;
    margin: 0;
    font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    display: block;
    margin: 0;
    padding: 1ex 1em;
    background-color: #333;
    color: #ddd;
}

nav a {
    color: #ddd;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
    color: #555;
    margin-bottom: 0.3ex;
}

form button {
    font-size: 150%;
}

footer {
    clear: both;
    padding-top: 4ex;
    text-align: center;
    font-size: 70%;
    font-style: italic;
}

#page-title {
    font-size: 1.8em;
    line-height: 1.8em;
    height: 50px;
    font-weight: bold;
}

#about {
    float: right;
    font-size: 1.5em;
    line-height: 1.8em;
    height: 50px;
}

#app {
    margin: 30px auto;
    text-align: center;
    width: 75%;
}

#page-text {
    width: 50em;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.piano audio {
    display: none;
}

ol.piano {
    position: relative;
    padding: 0;
    margin: 0 0 10px;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    li {
        box-sizing: border-box;
        width: 40px;
        height: 300px;
        font-size: 14px;

        @include key-background($key-inactive-background-color1,
                                $key-inactive-background-color2,
                                $key-inactive-background-color3);

        transition: all 0.1s ease-in-out;
        padding: 0;
        margin: 0;
        display: inline-block;
        border: 1px solid #ccc;
        padding: 220px 15px 50px;
        border-radius: 0 0 5px 5px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        color: $note-color;

        .note {
            position: absolute;
            bottom: 20px;
            left: 10px;
            pointer-events: none;
            text-align: center;

            .note-name {
                width: 20px;
                height: 20px;
            }
        }
    }
    li:hover {
        color: $note-hover-color;
    }
    li:active {
        box-shadow: none;
        top: 5px;
        color: $note-active-color;
    }
    li.ebony {
        /* build the key shape */
        z-index: 2;
        position: absolute;
        width: 32px;
        height: 175px;
        top: 0px;
        margin-left: -16px;
        padding: 0 0px 10px;
        /* Typography */
        text-align: center;
        color: $note-ebony-color;
        border-radius: 0 0 2px 2px;
        border-width: 0 6px 12px;
        border-color: #5e5d5c;
        border-bottom-color: #898988;

        @include key-background($key-ebony-inactive-background-color1,
                                $key-ebony-inactive-background-color2,
                                $key-ebony-inactive-background-color3);

        .note {
            bottom: 15px;
            left: 0;
        }
    }
    li.ebony:hover {
        color: $note-ebony-hover-color;
    }
    li.ebony:active {
        @include key-background($key-ebony-active-background-color1,
                                $key-ebony-active-background-color2,
                                $key-ebony-active-background-color3);
        border-color: #000;
        border-bottom-color: #424546;

        border-bottom-width: 8px;
        padding-top: 135px;
        color: $note-ebony-active-color;
    }

    li.in-scale {
        @include key-background($key-active-background-color1,
                                $key-active-background-color2,
                                $key-active-background-color3);
        box-shadow: 0 5px 5px #aaa;

        .note-name {
            color: $scale-highlight-color;
        }
    }

    li.ebony.in-scale {
        @include key-background($key-ebony-active-background-color1,
                                $key-ebony-active-background-color2,
                                $key-ebony-active-background-color3);
        box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(220, 220, 220, 0.2);

        border-color: #000;
        border-bottom-color: #424546;
    }

    li.in-chord {
        @include key-background($key-active-background-color1,
                                $key-active-background-color2,
                                $key-active-background-color3);
        box-shadow: 0 5px 5px #aaa;

        .note {
        }

        .note-name {
            color: $chord-highlight-color;
            background-color: $chord-highlight-background-color;
            border-radius: 50%;
        }

        .note-role {
            color: $chord-highlight-note-role-color;
            width: 20px;
            height: 20px;
        }
        .note-role-root {
            border-radius: 50%;
            background-color: $chord-highlight-root-background-color;
            color: $chord-highlight-root-color;
        }
    }
    li.ebony.in-chord {
        @include key-background($key-ebony-active-background-color1,
                                $key-ebony-active-background-color2,
                                $key-ebony-active-background-color3);
        box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(220, 220, 220, 0.2);

        border-color: #000;
        border-bottom-color: #424546;

        .note-role {
            width: 20px;
            height: 20px;
            color: $chord-highlight-ebony-note-role-color;
        }
        .note-role-root {
            border-radius: 50%;
            background-color: $chord-highlight-ebony-root-background-color;
            color: $chord-highlight-ebony-root-color;
        }
    }

    li.in-chord.out-scale {
        @include key-background($key-wrong-background-color1,
                                $key-wrong-background-color2,
                                $key-wrong-background-color3);

        .note-name {
            background-color: $scale-out-background-color;
        }
    }

    li.ebony.in-chord.out-scale {
        @include key-background($key-ebony-wrong-background-color1,
                                $key-ebony-wrong-background-color2,
                                $key-ebony-wrong-background-color3);
    }
}


.toolbox {
    .scale-tools {
        width: 48%;
        float: left;
    }

    .chord-tools {
        float: left;
        width: 48%;
    }
}


ul.chords {
    margin: 0;
    padding: 0;

    li {
        display: inline;
    }
    li:after {
        content: ", "
    }
    li:last-child:after {
        content: ""
    }
}

.chord-name {
    font-size: 150%;
}
.chord-name.wrong {
    color: red;
}
